.navbar {
	margin-bottom: 0px !important;
}

a.navbar-brand {
	margin: 0 !important;
	padding: 0 !important;
}

#brand {
	font-size: 25px;
    line-height: 2;
}

a.social-icon {
	display: inline-block !important;
	padding: 0 !important;
	margin-right: 0 !important;
	text-align: center;
    font-size: 22px;
    margin-top: 15px;
}


#main {
	height: 2000px;
	width: 100%;
	background: url(../img/toad.gif) repeat center center fixed; 
/* 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}