a.navbar-brand {
	margin: 0 !important;
	padding: 0 !important;
}

#brand {
	font-size: 25px;
    line-height: 2;
}

a.social-icon {
	display: inline-block !important;
	padding: 0 !important;
	margin-right: 0 !important;
	text-align: center;
    font-size: 22px;
    margin-top: 15px;
}